In [1]:
import allel

In [2]:
callset = allel.read_vcf('clinvar_20200830.vcf', fields = '*')

In [3]:
sorted(callset.keys())

['variants/AF_ESP',
 'variants/AF_EXAC',
 'variants/AF_TGP',
 'variants/ALLELEID',
 'variants/ALT',
 'variants/CHROM',
 'variants/CLNDISDB',
 'variants/CLNDISDBINCL',
 'variants/CLNDN',
 'variants/CLNDNINCL',
 'variants/CLNHGVS',
 'variants/CLNREVSTAT',
 'variants/CLNSIG',
 'variants/CLNSIGCONF',
 'variants/CLNSIGINCL',
 'variants/CLNVC',
 'variants/CLNVCSO',
 'variants/CLNVI',
 'variants/DBVARID',
 'variants/FILTER_PASS',
 'variants/GENEINFO',
 'variants/ID',
 'variants/MC',
 'variants/ORIGIN',
 'variants/POS',
 'variants/QUAL',
 'variants/REF',
 'variants/RS',
 'variants/SSR',
 'variants/altlen',
 'variants/is_snp',
 'variants/numalt']

In [21]:
df = allel.vcf_to_dataframe('clinvar_20200830.vcf', fields = ['variants/GENEINFO'])

In [5]:
df.shape

(774186, 36)

In [22]:
df2 = df[df['GENEINFO'].str.contains('DMD', na=False)]

In [23]:
df2.shape

(2930, 1)

In [6]:
df1 = df[df["CHROM"].ne("MT") & df["CHROM"].ne("Y") & df['MC'].str.contains('nonsense',na=False) & df['CLNHGVS'].str[-2].eq('>')]
df1.shape

(27866, 10)

In [7]:
df1.head()

,CHROM,POS,ID,REF,ALT_1,ALT_2,ALT_3,MC,CLNHGVS,CLNSIG
79,1,943995,950448,C,T,NaN,NaN,SO:0001587|nonsense,NC_000001.11:g.943995C>T,Pathogenic
82,1,944051,961217,T,G,NaN,NaN,SO:0001587|nonsense,NC_000001.11:g.944051T>G,Uncertain_significance
125,1,1014143,183381,C,T,NaN,NaN,SO:0001587|nonsense,NC_000001.11:g.1014143C>T,Pathogenic
141,1,1014359,161454,G,T,NaN,NaN,SO:0001587|nonsense,NC_000001.11:g.1014359G>T,Pathogenic
248,1,1041582,126556,C,T,NaN,NaN,SO:0001587|nonsense,NC_000001.11:g.1041582C>T,Pathogenic

In [8]:
df1["CLNSIG"].unique()

array(['Pathogenic', 'Uncertain_significance', 'Likely_pathogenic',
       'Likely_benign', 'Pathogenic/Likely_pathogenic', 'risk_factor',
       'Benign', 'Conflicting_interpretations_of_pathogenicity',
       'Affects', 'not_provided', 'association', 'drug_response',
       'Benign/Likely_benign', nan, 'protective', 'other'], dtype=object)

In [13]:
df1.to_csv('final.csv')

In [9]:
df2 = df1[df1["CLNSIG"].eq("Pathogenic") | df1["CLNSIG"].eq("Likely_pathogenic") | df1["CLNSIG"].eq("Uncertain_significance") | df1["CLNSIG"].eq("Likely_benign") | df1["CLNSIG"].eq("Benign")]
df2.shape

(25479, 10)

In [10]:
plot = df2['CLNSIG'].value_counts().plot(kind='bar')

92% of data considered

In [9]:
import pandas as pd

In [13]:
df3 = pd.read_csv('maybeFinal.csv')
df3 = pd.DataFrame(df3)

In [14]:
df3.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,#Uploaded_variation,MANE,Location,Allele,Consequence,IMPACT,SYMBOL,...,ProteinSeq,Canonical Transcript,Distance,Percentage Retained,DNA Sequence,Base Position,Score,Protein RefSeq,PHRED,CADDScore
0,0,0,10,NC_000001.11:g.1436947C>T,NM_022834.5,1:1436947-1436947,T,stop_gained,HIGH,VWA1,...,MLPWTALGLALSLRLALARSGAERGPPASAPRGDLMFLLDSSASVS...,ENST00000476993,4.0,0.916854,ATGCTCCCCTGGACGGCGCTCGGCCTGGCCCTGAGCTTGCGGCTGG...,105.0,0.0,NaN,34.0,5.779250
1,1,1,37,NC_000001.11:g.7249505C>G,NM_015215.4,1:7249505-7249505,G,stop_gained,HIGH,CAMTA1,...,MWRAEGKWLPKTSRKSVSQSVFCGTSTYCVLNTVPPIEDDHGNSNS...,ENST00000303635,1.0,0.935445,ATGTGGCGCGCGGAGGGGAAATGGCTGCCGAAAACAAGCCGGAAGA...,318.0,0.0,NaN,38.0,7.528076
2,2,2,58,NC_000001.11:g.11259253G>A,NM_004958.4,1:11259253-11259253,A,stop_gained,HIGH,MTOR,...,MLGTGPAAATTAATTSSNVSVLQQFASGLKSRNEETRAKAAKELQH...,ENST00000361445,2.0,0.978031,ATGCTTGGAACCGGACCTGCCGCCGCCACCACCGCTGCCACCACAT...,162.0,0.0,NaN,36.0,6.836248
3,3,5,80,NC_000001.11:g.16022674C>T,NM_004070.4,1:16022674-16022674,T,stop_gained,HIGH,CLCNKA,...,MEELVGLREGFSGDPVTLQELWGPCPHIRRAIQGGLEWLKQKVFRL...,ENST00000331433,35.0,0.919942,ATGGAGGAGTTGGTGGGGCTGCGTGAGGGCTTCTCAGGGGACCCTG...,159.0,2.0,NaN,35.0,6.354195
4,4,6,166,NC_000001.11:g.21885410G>A,NM_005529.7,1:21885410-21885410,A,stop_gained,HIGH,HSPG2,...,MGWRAAGALLLALLLHGRLLAVTHGLRAYDGLSLPEDIETVTASQM...,ENST00000374695,6.0,0.913232,ATGGGGTGGCGGGCGGCGGGCGCGCTGCTGCTGGCGCTGCTGCTGC...,1137.0,2.0,NaN,42.0,8.251760

In [51]:
df4 = pd.DataFrame(columns = ['CHROM','POS','ID','REF','ALT', 'QUAL','FILTER','INFO'])

In [49]:
columns = ['CHROM','POS','REF','ALT']
data = []
for x, y in df3.iterrows():
    values = []
    for i, j in df1.iterrows():
        if y[3] == j[8]:
            values.append(j[0])
            values.append(j[1])
            values.append(j[3])
            values.append(j[4])
    dictionary = dict(zip(columns, values))
    data.append(dictionary)

In [52]:
df4 = df4.append(data, True)

In [60]:
header = """##fileformat=VCFv4.1
##fileDate=2020-08-30
##source=ClinVar
##reference=GRCh38
#CHROM POS ID REF ALT QUAL FILTER INFO
"""
output_VCF = "myfile2.vcf"
with open(output_VCF, 'w') as vcf:
    vcf.write(header)

df4.to_csv(output_VCF, sep="\t", mode='a', index=False)

In [53]:
df4

    CHROM        POS   ID REF ALT QUAL FILTER INFO
0       1    1436947  NaN   C   T  NaN    NaN  NaN
1       1    7249505  NaN   C   G  NaN    NaN  NaN
2       1   11259253  NaN   G   A  NaN    NaN  NaN
3       1   16022674  NaN   C   T  NaN    NaN  NaN
4       1   21885410  NaN   G   A  NaN    NaN  NaN
5       1   21890127  NaN   C   T  NaN    NaN  NaN
6       1   23825385  NaN   G   A  NaN    NaN  NaN
7       1   26696470  NaN   G   T  NaN    NaN  NaN
8       1   44842926  NaN   G   A  NaN    NaN  NaN
9       1   53197045  NaN   C   G  NaN    NaN  NaN
10      1   63371029  NaN   C   T  NaN    NaN  NaN
11      1   65570525  NaN   G   A  NaN    NaN  NaN
12      1   94108700  NaN   G   A  NaN    NaN  NaN
13      1   94111534  NaN   C   T  NaN    NaN  NaN
14      1   94113010  NaN   C   T  NaN    NaN  NaN
15      1   94113011  NaN   C   T  NaN    NaN  NaN
16      1   94113040  NaN   C   T  NaN    NaN  NaN
17      1   94120985  NaN   G   A  NaN    NaN  NaN
18      1   94121001  NaN   C   T  NaN    NaN  NaN
19      1   94121010  NaN   C   T  NaN    NaN  NaN
20      1   97828127  NaN   G   A  NaN    NaN  NaN
21      1   97828139  NaN   G   A  NaN    NaN  NaN
22      1   97883353  NaN   G   A  NaN    NaN  NaN
23      1  120029976  NaN   G   A  NaN    NaN  NaN
24      1  152314342  NaN   T   A  NaN    NaN  NaN
25      1  152314399  NaN   C   A  NaN    NaN  NaN
26      1  152315363  NaN   C   A  NaN    NaN  NaN
27      1  153828257  NaN   G   A  NaN    NaN  NaN
28      1  175406508  NaN   G   C  NaN    NaN  NaN
29      1  197143675  NaN   G   A  NaN    NaN  NaN
..    ...        ...  ...  ..  ..  ...    ...  ...
868     X   33211304  NaN   C   T  NaN    NaN  NaN
869     X   48683872  NaN   G   T  NaN    NaN  NaN
870     X   48683890  NaN   C   T  NaN    NaN  NaN
871     X   48683953  NaN   C   T  NaN    NaN  NaN
872     X   53415163  NaN   G   C  NaN    NaN  NaN
873     X   68829800  NaN   G   A  NaN    NaN  NaN
874     X   71120090  NaN   G   A  NaN    NaN  NaN
875     X   77697589  NaN   G   C  NaN    NaN  NaN
876     X   77717155  NaN   G   A  NaN    NaN  NaN
877     X  100408345  NaN   G   A  NaN    NaN  NaN
878     X  100408398  NaN   G   T  NaN    NaN  NaN
879     X  100408429  NaN   G   A  NaN    NaN  NaN
880     X  100408456  NaN   C   A  NaN    NaN  NaN
881     X  100408507  NaN   C   A  NaN    NaN  NaN
882     X  100408517  NaN   G   C  NaN    NaN  NaN
883     X  108440138  NaN   G   T  NaN    NaN  NaN
884     X  108539751  NaN   C   A  NaN    NaN  NaN
885     X  108539754  NaN   T   G  NaN    NaN  NaN
886     X  108539771  NaN   C   G  NaN    NaN  NaN
887     X  108571416  NaN   G   T  NaN    NaN  NaN
888     X  124031042  NaN   C   T  NaN    NaN  NaN
889     X  129523364  NaN   G   A  NaN    NaN  NaN
890     X  136648279  NaN   C   T  NaN    NaN  NaN
891     X  148652027  NaN   A   T  NaN    NaN  NaN
892     X  153504636  NaN   G   A  NaN    NaN  NaN
893     X  153872286  NaN   G   T  NaN    NaN  NaN
894     X  153875811  NaN   C   T  NaN    NaN  NaN
895     X  154367685  NaN   G   A  NaN    NaN  NaN
896     X  154367920  NaN   G   A  NaN    NaN  NaN
897     X  155022510  NaN   G   A  NaN    NaN  NaN

[898 rows x 8 columns]

In [56]:
for i, j in df4.iterrows():
    df4.loc[i,'INFO'] = "A"

In [25]:
import pandas as pd

In [26]:
selectedDF = pd.read_csv('selected.csv')
selectedDF = pd.DataFrame(selectedDF)

In [27]:
selectedDF['freq'] = ""

In [46]:
for index, row in selectedDF.iterrows():
    df = allel.vcf_to_dataframe('clinvar_20200830.vcf', fields = ['variants/GENEINFO'])
    df2 = df[df['GENEINFO'].str.contains(str(row[1]),na=False)]
    selectedDF.loc[index,'freq'] = len(df2)/774186

In [47]:
selectedDF

,Unnamed: 0,gene_name,counts,Unique,Protein Seq,Notes,freq
0,0,BRCA2,58,3,MPIGSKERPTFFEIFKTRCNKADLGPISLNWFEELSSEAPPYNSEP...,NaN,0.015994
1,1,TTN,50,4,MTTQAPTFTQPLQSVVVLEGSTATFEAHISGFPVPEVSWFRDGQVI...,NaN,0.018755
2,2,APC,47,9,MAAASYDQLLKQVEALKMENSNLRQELEDNSNHLTKLETEASNMKE...,NaN,0.010142
3,3,NF1,36,4,MAAHRPVEWVQAVVSRFDEQLPIKTGQQNTHTKVSTEHNKECLINI...,GTP-ase activator protein: 1324-1451 E=7.4e-18...,0.009472
4,4,DMD,32,5,MLWWEEVEDCYEREDVQKKTFTKWVNAQFSKFGKQHIENLFSDLQD...,NaN,0.003785
5,5,TSC2,26,2,MAKPTSKDSGLKEKFKILLGLGTPRPNPRSAEGKQTEFIITAEILR...,Domain of Unknown Function: 54-470 E=5.2e-90; ...,0.007018
6,6,FBN1,23,4,MRRGRLLEIALGFTVLLASYTSHGADANLEAGNVKETRASRAKRRG...,NaN,0.005415
7,7,MSH2,16,3,MAVQPKETLQLESAAEVGFVRFFQGMPEKPTTTVRLFDRGDFYTAH...,NaN,0.004926
8,8,CFTR,16,1,MQRSPLEKASVVSKLFFSWTRPILRKGYRQRLELSDIYQIPSVDSA...,NaN,0.002784
9,9,CHD7,15,7,MADPGMMSLFGEDGNIFSEGLEGLGECGYPENPVNPMGQQMPIDQG...,NaN,0.001568
10,10,BRIP1,15,2,MSSMWSEYTIGGVKIYFPYKAYPSQLAMMNSILRGLNSKQHCLLES...,NaN,0.003823
11,11,USH2A,15,5,MNCPVLSLGSGFLFQVIEMLIFAYFASISLTESRGLFPRLENVGAF...,NaN,0.002902
12,12,LAMA2,13,3,MPGAAGVLLLLLLSGGLGGVQAQRPQQQRQSQAHQQRGLFPAVLNL...,NaN,0.001868
13,13,DSP,13,5,MSCNGGSHPRINTLGRMIRAESGPDLRYEVTSGGGGTSRMYYSRRG...,NaN,0.002839